# Container networking
CONFIG_BRIDGE=m
CONFIG_BRIDGE_NETFILTER=m

CONFIG_WIREGUARD=m

# USB Serial Adapters
CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_PL2303=m
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_CP210X=m
CONFIG_USB_SERIAL_CH341=m

# USB CDC device classes (board programming over USB: fastboot/DFU hosts,
# uuu/ums Ethernet-over-USB, modem-like ACM consoles)
CONFIG_USB_ACM=m
CONFIG_USB_USBNET=m
CONFIG_USB_NET_CDCETHER=m
CONFIG_USB_NET_CDC_NCM=m

CONFIG_NET_9P=m
CONFIG_NET_9P_VIRTIO=m
CONFIG_9P_FS=m
CONFIG_USBIP_CORE=m
CONFIG_USBIP_VHCI_HCD=m

CONFIG_USB_STORAGE=m
CONFIG_BLK_DEV_LOOP=m
