CONFIG_VETH=m
CONFIG_VIRTIO_NET=m
CONFIG_WIREGUARD=m
CONFIG_USB_GADGET=y
CONFIG_USB_CONFIGFS=m
CONFIG_USB_CONFIGFS_SERIAL=m
CONFIG_USB_CONFIGFS_ACM=m
CONFIG_USB_CONFIGFS_OBEX=m
CONFIG_USB_CONFIGFS_NCM=m
CONFIG_USB_CONFIGFS_ECM=m
CONFIG_USB_CONFIGFS_RNDIS=m
CONFIG_USB_CONFIGFS_EEM=m
CONFIG_USB_CONFIGFS_MASS_STORAGE=m
CONFIG_USB_CONFIGFS_F_LB_SS=m
CONFIG_USB_CONFIGFS_F_FS=m
CONFIG_USB_CONFIGFS_F_UAC1=m
CONFIG_USB_CONFIGFS_F_UAC2=m
CONFIG_USB_CONFIGFS_F_MIDI=m
CONFIG_USB_CONFIGFS_F_HID=m
CONFIG_USB_CONFIGFS_F_PRINTER=m
CONFIG_USB_LIBCOMPOSITE=m

# USB Serial Adapters
CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_PL2303=m
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_CP210X=m
CONFIG_USB_SERIAL_CH341=m
