# Docker / container support
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_PIDS=y
CONFIG_CPUSETS=y
CONFIG_MEMCG=y
CONFIG_NAMESPACES=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_VLAN_8021Q=m
CONFIG_BRIDGE_VLAN_FILTERING=y

# USB serial adapters
CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_PL2303=m
CONFIG_USB_SERIAL_CP210X=m
CONFIG_USB_SERIAL_CH341=m

# WireGuard VPN
CONFIG_WIREGUARD=m

# Intel I225/I226 Ethernet (Jasper Lake, Alder Lake, etc.)
CONFIG_IGC=m
