CONFIG_OVERLAY_FS=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_EROFS_FS=y
CONFIG_EROFS_FS_ZIP=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y
CONFIG_BLK_DEV_LOOP=y

# Initramfs decompression (the initramfs is .cpio.zst)
CONFIG_RD_ZSTD=y
CONFIG_RD_GZIP=y

# SquashFS configuration
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_FILE_CACHE=y
# CONFIG_SQUASHFS_DECOMP_SINGLE is not set
CONFIG_SQUASHFS_DECOMP_MULTI=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_SQUASHFS_LZ4=n
CONFIG_SQUASHFS_LZO=n
CONFIG_SQUASHFS_XZ=n
CONFIG_SQUASHFS_ZSTD=y
CONFIG_SQUASHFS_4K_DEVBLK_SIZE=y
# CONFIG_SQUASHFS_EMBEDDED is not set
CONFIG_SQUASHFS_FRAGMENT_CACHE_SIZE=3
CONFIG_BTRFS_FS=y
CONFIG_CRYPTO_LZ4=y
CONFIG_SWAP=y
CONFIG_BLK_DEV=y
CONFIG_ZSMALLOC=y
CONFIG_ZRAM=m

# systemd hard requirements
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_FHANDLE=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_DMIID=y
CONFIG_AUTOFS_FS=y

# Disable SELinux -- not used by Avocado
# CONFIG_SECURITY_SELINUX is not set
