[Unit]
Description=Peridio Daemon

[Service]
EnvironmentFile=-/etc/default/peridiod
Restart=on-failure
RestartSec=5s
TimeoutStopSec=10s

ExecStart=/usr/lib/peridiod/bin/peridiod start
User=root

[Install]
WantedBy=multi-user.target
