# Initramfs decompression -- must match AVOCADO_IMAGE_INITRAMFS_TYPE.
CONFIG_RD_ZSTD=y
CONFIG_RD_GZIP=y

# Root filesystem (squashfs / erofs / overlayfs).
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_ZSTD=y
CONFIG_EROFS_FS=y
CONFIG_EROFS_FS_ZIP=y
CONFIG_EROFS_FS_ZIP_LZ4=y

# Block device support.
CONFIG_BLK_DEV_LOOP=y
CONFIG_EFI_PARTITION=y

# /var btrfs.
CONFIG_BTRFS_FS=y
