[Unit]
Description=Avocado merge extensions

ConditionDirectoryNotEmpty=|/var/lib/avocado
ConditionCapability=CAP_SYS_ADMIN

DefaultDependencies=no
Requires=avocadoctl.socket
After=local-fs.target avocadoctl.socket
Before=sysinit.target systemd-tmpfiles-setup.service systemd-userdb-load-credentials.service
Conflicts=shutdown.target initrd-switch-root.target
Before=shutdown.target initrd-switch-root.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
ExecStart=avocadoctl refresh
ExecReload=avocadoctl refresh
ExecStop=-avocadoctl unmerge

[Install]
WantedBy=sysinit.target
